$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$red: hsl(0, 100%, 63%);
$cyan: hsl(192, 100%, 9%);
$blue: hsl(207, 100%, 98%);
$openSans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$fontSize: 14px;
$duration: .2s;
$padding: 80px;